* {
  text-decoration: none;
  list-style: none;
}

body {
  background-color: rgb(247, 199, 112);
  color: rgb(78, 34, 34);
  font-family: Georgia, 'Times New Roman', Times, serif;
}

a:visited {
  color: inherit;
}

.home-link {
  display: block;
  margin-top: 40px;
  margin-left: 25%;
  font-size: 30px;
  font-weight: 700;

}

.main-title {
  font-size: 42px;
  text-transform: uppercase;
  text-align: center;
}

.recipe-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  height: auto;
  border-radius: 5px;
  box-shadow: 4px 3px 5px 1px black;
}

.text-container {
  margin-top: 80px;
  margin-left: 10%;
  margin-right: 10%;
}
